---
import { Image } from 'astro:assets'

import { PostPreview } from 'astro-pure/components/pages'
import { getBlogCollection, sortMDByDate } from 'astro-pure/server'
import { Button, Card, Icon, Label } from 'astro-pure/user'
import PageLayout from '@/layouts/BaseLayout.astro'
//import ProjectCard from '@/components/home/ProjectCard.astro'
import Section from '@/components/home/Section.astro'
import SkillLayout from '@/components/home/SkillLayout.astro'
import avatar from '@/assets/avatar.png'
import config from '@/site-config'

const languages = ['TypeScript', 'JavaScript', 'Python', 'Flutter', 'Java', 'C++', 'C#', 'Bash', 'PowerShell']
const frontend = ['React + Vite', 'Astro', 'Next.js', 'Tailwind CSS']
const backend = ['Node.js', '.NET', 'PostqreSQL', 'MySQL', 'Firebase', 'MongoDB']
const cloud = ['AWS', 'Azure', 'Oracle', 'Vercel', 'Docker', 'Linux', 'Windows', 'Nginx', 'Apache']
const other = ['UE5', 'Unity', 'Blender', 'DaVinci Resolve', 'Photoshop', 'Gimp', 'Figma', 'After Effects']

const MAX_POSTS = 10
const allPosts = await getBlogCollection()
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS)
---

<PageLayout meta={{ title: 'Home' }} highlightColor='#728AF2'>
  <main class='flex w-full flex-col items-center'>
    <section class='animate mb-10 flex flex-col items-center gap-y-7' id='content-header'>
      <Image
        src={avatar}
        alt='profile'
        class='h-28 w-auto rounded-2xl p-1'
        loading='eager'
      />

      <div class='flex flex-col items-center gap-y-4'>
        <h1 class='text-3xl font-bold'>{config.author}</h1>
        <div class='flex flex-wrap justify-center gap-x-7 gap-y-3'>
          <Label title='Finland'>
            <Icon name='location' class='size-5' slot='icon' />
          </Label>
          <Label
            title='GitHub'
            as='a'
            href='https://github.com/JareCoder'
            target='_blank'
          >
            <Icon name='github' class='size-5' slot='icon' />
          </Label>
          <Label
            title='LinkedIn'
            as='a'
            href='https://www.linkedin.com/in/jesse-lappalainen/'
            target='_blank'
            >
            <Icon name='link' class='size-5' slot='icon' />
          </Label>
        </div>
      </div>

    <div id='content' class='animate flex flex-col gap-y-10 md:w-4/5 lg:w-5/6'>
      <Section title='About'>
        <p class='text-muted-foreground'>Software Developer</p>
        <p class='text-muted-foreground'>
          Hi! I'm Jesse, a developer based in Finland and I love everything tech related.
          These days, I'm focused on web, mobile and cloud development — but my experience goes far beyond that.
          I also love creating visual stuff, so I do some 3D modeling, video production and editing on the side.
        </p>
        <Button title='More about me' class='w-fit self-end' href='/about' style='ahead' />
      </Section>
      {
        allPostsByDate.length > 0 && (
          <Section title='Posts'>
            <ul class='flex flex-col gap-y-1.5 sm:gap-y-2'>
              {allPostsByDate.map((p) => (
                <li class='flex flex-col gap-x-2 sm:flex-row'>
                  <PostPreview post={p} />
                </li>
              ))}
            </ul>
            <Button title='More posts' class='w-fit self-end' href='/blog' style='ahead' />
          </Section>
        )
      }

      {
        <Section title='Experience'>
          
          <Card
            as='a'
            heading='CEO & Co-Founder'
            subheading='Mankeli Solutions Oy'
            date='Jan 2023 - Present'
            href='https://mankelisolutions.fi'
          >
            <p class='text-foreground'>
              We at Mankeli specialize in mobile and web development. We can handle everything from the design to the implementation and deployment of your project.
            </p>
            <ul class='ms-4 list-disc text-muted-foreground'>
              <li>Flutter, Astro, React, NodeJS</li>
            </ul>
          </Card>
          <Card
            as='a'
            heading='ICT Specialist'
            subheading='Saarni Cloud'
            date='May 2025 - Present'
            href='https://saarnicloud.com'
          >
            <p class='text-foreground'>
              Management, configuring and development of on-site, cloud and a mixed server solutions.
            </p>
            <ul class='ms-4 list-disc text-muted-foreground'>
              <li>Azure, AWS, Linux & Windows servers, Powershell, Bash, Ansible</li>
            </ul>
          </Card>
          <Card
            as='a'
            heading='Software Designer Trainee'
            subheading='Wapice Oy'
            date='Feb 2024 - Apr 2025'
            href='https://wapice.com/careers/wapice-talents/'
          >
            <p class='text-foreground'>
                Wapice Talents program for students. The program is designed to give students a chance to work on real projects and gain experience in the field of software development.
            </p>
            <ul class='ms-4 list-disc text-muted-foreground'>
              <li>Unity, React, .NET, TypeScript, Blender, OpenCAD</li>
            </ul>
          </Card>
          <Card
            as='a'
            heading='Game Operations Coordinator & Coach'
            subheading='Pelikaverit Ry'
            date='Jul 2022 - May 2024'
            href='https://pelikaverit.fi'
          >
            <p class='text-foreground'>
              Pelikaverit's mission is to create a safe and inclusive gaming community for everyone. My responsibilities included managing, updating and fixing game servers. 
              Addittionally I managed and trained instructors for gaming clubs, communicated with customers, trained other coaches, coached teams and made materials necessary for all of it.
            </p>
            <ul class='ms-4 list-disc text-muted-foreground'>
              <li>Management, Communication, Employee Training, Linux Servers</li>
            </ul>
          </Card>
        </Section>
      }
      <Section title='Education'>
        <Card
          as='a'
          heading='University of Turku'
          subheading='Information Technology (In progress)'
          date='Aug 2021 - Jul 2027'
          href='https://www.utu.fi/fi/opiskelijaksi/tietotekniikka-tekniikan-kandidaatti-ja-diplomi-insinoori-3-v-2-v'
        >
          {
          <ul class='ms-4 list-disc text-muted-foreground'>
            <li>
              Bachelor of Techonology
            </li>
            <li>Master of Science (Engineering)</li>
          </ul>
          }
        </Card>
        <Card
          as="a"
          heading='Kerttuli ICT High School'
          subheading='Information Technology'
          date='Sep 2018 - May 2021'
          href='https://www.ictlukio.com'
        >
        {
          <ul class='ms-4 list-disc text-muted-foreground'>
            <li>
              High School Diploma with specialization in Information Technology
            </li>
          </ul>
          }
        </Card>
      </Section>
{/*
      <Section title='Website List'>
        <div class='grid grid-cols-1 gap-3 sm:grid-cols-2'>
          <ProjectCard
            href='https://www.youtube.com/watch?v=dQw4w9WgXcQ'
            heading='Lorem ipsum'
            subheading='dolor sit amet, oratio ornatus explicari pro ex'
            imagePath='/src/assets/projects/alex-tyson-2BAXJ7ha74s-unsplash.jpg'
          />
          <ProjectCard
            href='https://www.youtube.com/watch?v=dQw4w9WgXcQ'
            heading='Lorem ipsum'
            subheading='dolor sit amet, oratio ornatus explicari pro ex'
            imagePath='/src/assets/projects/angelica-teran-Bk9hpaXHK4o-unsplash.jpg'
          />
          <ProjectCard
            href='https://www.youtube.com/watch?v=dQw4w9WgXcQ'
            heading='Lorem ipsum'
            subheading='dolor sit amet, oratio ornatus explicari pro ex'
            imagePath='/src/assets/projects/kseniia-zapiatkina-yATU3rg8tNI-unsplash.jpg'
          />
          <ProjectCard
            href='/projects'
            heading='More projects'
            subheading='Check out more projects'
            imagePath='/src/assets/projects/wen-qiao-g_w8I64FiO0-unsplash.jpg'
          />
        </div>
      </Section>

      <Section title='Certifications'>
        <Card
          as='a'
          heading='Lorem ipsum'
          subheading='Lorem ipsum dolor sit amet, vidit suscipit at mei. Quem denique mea id. Usu ei regione indoctum dissentiunt, cu meliore fuisset mei, vel quod voluptua ne. Ex dicat impedit mel, at eum oratio possit voluptatum. Dicat ceteros cu vim. Impetus fuisset ullamcorper pri cu, his posse iisque ad, aliquam honestatis usu id.'
          date='July 2024'
          href='https://www.youtube.com/watch?v=dQw4w9WgXcQ'
        />
      </Section>
*/}
      <Section title='Skills'>
        <SkillLayout title='Languages' skills={languages} />
        <SkillLayout title='Frontend' skills={frontend} />
        <SkillLayout title='Backend' skills={backend} />
        <SkillLayout title='Cloud' skills={cloud} />
        <SkillLayout title='Other' skills={other} />
      </Section>
    </div>
  </main>
</PageLayout>
