---
import links from 'public/links.json'
import config from 'virtual:config'

import { Comment } from 'astro-pure/advanced'
import { Collapse, Timeline } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import FriendList from '@/components/links/FriendList.astro'

const headings = [
  { depth: 2, slug: 'courses', text: 'Common Links' },
  { depth: 2, slug: 'friends', text: 'Friends' },
  { depth: 2, slug: 'other-links', text: 'Other Links' }
]

const { friends } = links
const linksConf = config.integ.links
---

<PageLayout title='Links' {headings} info='/links'>
  <h2 id='courses'>Courses I recommend</h2>
  <FriendList list={friends[0]} />
  <Collapse title='Links with Bad Status'>
    <FriendList list={friends[1]} />
  </Collapse>
  <Collapse title='Course History Book'>
    <Timeline events={linksConf.logbook} />
  </Collapse>
  <h2 id='friends'>Check out some of my friends</h2>
  <FriendList list={friends[2]} />
  <Collapse title='Broken friend links'>
    <FriendList list={friends[3]} />
  </Collapse>
  <h2 id="other-links">Other links</h2>
  <FriendList list={friends[4]} />

 
  <Comment slot='bottom' />
</PageLayout>
